In [1]:
import pandas as pd

In [3]:
pd.DataFrame({'id': [100, 101, 102], 'color': ['red', 'blue', 'red']})

    id color
0  100   red
1  101  blue
2  102   red

In [4]:
pd.DataFrame({'id': [100, 101, 102], 'color': ['red', 'blue', 'red']}, columns=['color','id'])

  color   id
0   red  100
1  blue  101
2   red  102

In [8]:
df = pd.DataFrame({'id': [100, 101, 102], 'color': ['red', 'blue', 'red']}, columns=['id','color'], index=['a', 'b', 'c'])

In [9]:
pd.DataFrame([[100, 'red'],[101, 'green'],[102, 'gold']])

     0      1
0  100    red
1  101  green
2  102   gold

In [11]:
pd.DataFrame([[100, 'red'],[101, 'green'],[102, 'gold']], columns=['id','color'], index=['e','f','g'])

    id  color
e  100    red
f  101  green
g  102   gold

In [12]:
import numpy as np

In [17]:
arr = np.random.rand(4,2)
arr

array([[0.84513765, 0.64335459],
       [0.7354684 , 0.79640163],
       [0.49089746, 0.65285835],
       [0.93822698, 0.84546101]])

In [20]:
pd.DataFrame(arr, columns=['one','two'])

        one       two
0  0.845138  0.643355
1  0.735468  0.796402
2  0.490897  0.652858
3  0.938227  0.845461

In [26]:
# create simple DataFrame with numpy functions
pd.DataFrame({'student':np.arange(100, 110,1), 'test':np.random.randint(60, 101, 10)})

   student  test
0      100    92
1      101    94
2      102    72
3      103    97
4      104    84
5      105   100
6      106    88
7      107    76
8      108    74
9      109    68

In [27]:
pd.DataFrame({'student':np.arange(100, 110,1), 'test':np.random.randint(60, 101, 10)}).set_index('student')

         test
student
100        61
101        86
102        88
103        72
104        71
105        76
106        75
107        92
108       100
109        94

In [32]:
s = pd.Series(['round', 'square'], index=['c','b'], name='shape')
s

c     round
b    square
Name: shape, dtype: object

In [30]:
df

    id color
a  100   red
b  101  blue
c  102   red

In [34]:
# combine a Series to DataFrame
pd.concat([df,s], axis=1)

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round